## Setup Environment

In [4]:
import json
import pandas as pd
from sqlalchemy import text
from postgres_helper import PostgresConnection

pd.set_option('display.max_rows', 200)
conn_string = "postgresql://PG_USERNAME:PG_PASSWORD@PG_URL:PG_PORT/PG_DATABASE"

pg_conn = PostgresConnection(conn_string)

## Inspect Data

In [3]:
with open('data/data.json', encoding="utf8") as f:
    data = f.readlines()
    data = [json.loads(line) for line in data]

raw_df = pd.DataFrame(data).sort_values('customer_id')
raw_df.head(20)

,sacc_items,work_orders,female_items,is_newsletter_subscriber,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,orders,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
32235,0,0,0,Y,1,0,0,0,1,1,...,0,0,0,1,0,1,0,0,0,0.0000
3432,0,0,3,N,0,0,0,2,0,1,...,0,0,1,3,0,1,0,0,0,0.0000
14074,0,0,0,Y,16,0,0,0,11,4,...,0,0,0,16,0,1,0,0,0,0.3346
28384,0,0,2,N,0,0,0,0,0,1,...,0,0,0,2,0,1,0,2,0,0.4640
19604,0,0,26,N,4,0,3,2,4,4,...,0,0,0,30,0,3,0,24,0,0.6863
2528,0,0,3,N,0,0,1,3,0,1,...,0,0,0,3,0,1,1,0,0,0.6333
42774,0,0,0,N,1,0,1,0,1,1,...,0,0,0,1,0,1,0,0,0,0.0000
6335,0,0,0,N,1,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0.3999
41282,0,0,9,N,0,0,0,0,0,1,...,0,0,0,9,0,1,0,9,0,0.2951
28013,0,0,4,N,0,0,0,0,0,3,...,0,0,0,4,0,1,1,4,0,0.0000
26520,0,0,1,Y,2,0,2,1,0,2,...,0,0,0,5,0,1,0,0,0,0.0000
39859,0,0,16,Y,0,0,0,4,0,8,...,0,0,1,16,0,1,0,11,0,0.2684
20281,0,0,5,Y,0,0,0,0,0,2,...,0,0,0,5,0,1,1,5,0,0.5705
26488,0,0,0,Y,6,0,0,0,3,5,...,0,0,0,6,0,1,0,0,0,0.0500
31799,0,0,8,N,1,0,2,1,1,4,...,0,0,0,9,0,2,0,7,0,0.3325
15088,0,0,0,Y,0,0,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0.0000
38226,1,0,0,N,1,0,0,0,0,1,...,0,0,0,2,1,1,0,0,0,0.2000
42738,0,0,1,Y,0,0,1,0,0,1,...,0,0,0,1,0,1,0,1,0,0.0000
1145,0,0,2,N,0,0,0,0,0,2,...,0,0,0,2,0,1,0,2,0,0.0000
18380,0,0,1,N,0,0,0,1,0,1,...,0,0,0,1,0,1,0,0,0,0.4999

In [10]:
raw_df.describe()

,sacc_items,work_orders,female_items,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,orders,cc_payments,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
count,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,...,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000,46279.000000
mean,0.087642,0.239785,6.465827,1.719203,0.053437,0.978133,1.633333,0.927094,4.108213,0.642386,...,0.000562,0.378530,0.573565,8.575077,0.115949,1.277469,0.116554,3.795091,0.000043,0.190271
std,0.538434,1.560983,17.805349,5.464658,0.224905,2.855797,4.084444,3.693033,8.115099,0.479303,...,0.023696,1.711348,2.538707,19.932067,0.715292,0.533424,0.320891,12.660505,0.009297,0.190814
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,...,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.150000
75%,0.000000,0.000000,5.000000,1.000000,0.000000,1.000000,2.000000,0.000000,4.000000,1.000000,...,0.000000,0.000000,0.000000,7.000000,0.000000,1.000000,0.000000,2.000000,0.000000,0.314300
max,29.000000,84.000000,537.000000,273.000000,1.000000,172.000000,261.000000,151.000000,665.000000,1.000000,...,1.000000,56.000000,353.000000,701.000000,38.000000,3.000000,1.000000,409.000000,2.000000,1.000000

### Check duplicated rows

In [14]:
# Cột is_newsletter_subscriber có vẻ là cột boolean, nhưng có giá trị là chuỗi
# Cột customer_id có vẻ là cột duy nhất có thể dùng làm khoá chính
# Cột coupon_discount_applied có giá trị NaN, có thể fill với 0.0
drop_dup_df = raw_df.drop_duplicates()
print("Rows before drop duplicates:", raw_df.shape[0])
print("Rows after drop duplicates:", drop_dup_df.shape[0])

drop_dup_customer_id_df = raw_df.drop_duplicates(subset=['customer_id'])
print("Rows after drop duplicates on customer_id:", drop_dup_customer_id_df.shape[0])

# Check duplicated customer_id rows
duplicated_only_df = raw_df[raw_df.duplicated(keep=False)]
duplicated_only_df[['customer_id', *[column for column in raw_df.columns if column != 'customer_id']]].head(20)

Rows before drop duplicates: 46279
Rows after drop duplicates: 46030
Rows after drop duplicates on customer_id: 46030

,customer_id,sacc_items,work_orders,female_items,is_newsletter_subscriber,male_items,afterpay_payments,msite_orders,wftw_items,mapp_items,...,apple_payments,wspt_items,wacc_items,items,mspt_items,devices,different_addresses,wapp_items,other_device_orders,average_discount_onoffer
5836,014679384624789f16f1c6f8cf7da2b3,0,0,8,Y,1,0,2,4,1,...,0,0,0,9,0,2,0,4,0,0.1079
30251,014679384624789f16f1c6f8cf7da2b3,0,0,8,Y,1,0,2,4,1,...,0,0,0,9,0,2,0,4,0,0.1079
39882,031af4fbbdba1de1591db6771e953679,0,0,0,N,1,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0.0000
11339,031af4fbbdba1de1591db6771e953679,0,0,0,N,1,0,0,0,0,...,0,0,1,2,0,1,0,0,0,0.0000
40189,0558d155816cc709a2d2db774f7d14fa,0,0,6,N,0,0,0,0,0,...,0,0,0,6,0,1,0,6,0,0.2333
22223,0558d155816cc709a2d2db774f7d14fa,0,0,6,N,0,0,0,0,0,...,0,0,0,6,0,1,0,6,0,0.2333
45113,05aea1f4aa5e1f14008d7af7275c5aed,0,0,4,Y,0,0,2,0,0,...,0,0,0,4,0,1,0,0,0,0.1499
20881,05aea1f4aa5e1f14008d7af7275c5aed,0,0,4,Y,0,0,2,0,0,...,0,0,0,4,0,1,0,0,0,0.1499
31483,05b1a9d2f6b95262ccb76e0e03969dc1,0,0,1,N,0,0,1,0,0,...,0,0,0,1,0,1,0,1,0,0.2671
19302,05b1a9d2f6b95262ccb76e0e03969dc1,0,0,1,N,0,0,1,0,0,...,0,0,0,1,0,1,0,1,0,0.2671
33525,07cadf83a03783442b293b9cd4a23e87,0,0,3,N,0,0,0,3,0,...,0,0,0,3,0,1,0,0,0,0.6233
18740,07cadf83a03783442b293b9cd4a23e87,0,0,3,N,0,0,0,3,0,...,0,0,0,3,0,1,0,0,0,0.6233
38135,07fc75b1b24a44695a4d65d97e9a69f6,0,0,2,N,0,0,0,0,0,...,0,0,0,2,0,1,0,2,0,0.2499
15427,07fc75b1b24a44695a4d65d97e9a69f6,0,0,2,N,0,0,0,0,0,...,0,0,0,2,0,1,0,2,0,0.2499
13740,0808ef758f025cbd8aefe240f070a3f5,0,0,0,N,1,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0.0000
32795,0808ef758f025cbd8aefe240f070a3f5,0,0,0,N,1,0,0,0,1,...,0,0,0,1,0,1,0,0,0,0.0000
18598,0a1992acb9dfa88e5150c977703a396d,0,0,7,N,3,1,2,2,2,...,0,0,1,11,0,2,0,4,0,0.3617
28904,0a1992acb9dfa88e5150c977703a396d,0,0,7,N,3,1,2,2,2,...,0,0,1,11,0,2,0,4,0,0.3617
5244,0a5ef090245e3e9dc6498b46d3c73556,1,0,0,N,17,0,5,0,13,...,0,1,0,17,0,2,1,0,0,0.2063
41478,0a5ef090245e3e9dc6498b46d3c73556,1,0,0,N,17,0,5,0,13,...,0,1,0,17,0,2,1,0,0,0.2063

- There are duplicated rows in the dataset, but they seems to be exactly the same since drop_duplicates() return the same number of rows as drop_duplicates(subset=['customer_id'])

### Check is_newsletter_subscriber value

In [13]:
assert drop_dup_df.query('is_newsletter_subscriber != "Y" & is_newsletter_subscriber != "N"').shape[0] == 0

- There are only two values in the column is_newsletter_subscriber: "Y" and "N"

### coupon_discount_applied contains NaN

In [16]:
raw_df[['coupon_discount_applied']].info()

<class 'pandas.core.frame.DataFrame'>
Index: 46279 entries, 32235 to 19250
Data columns (total 1 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   coupon_discount_applied  36074 non-null  float64
dtypes: float64(1)
memory usage: 723.1 KB

### days_since_last_order and days_since_first_order seems to be conflict

In [18]:
raw_df[['days_since_last_order', 'days_since_first_order']].describe()

       days_since_last_order  days_since_first_order
count           46279.000000            46279.000000
mean            24592.675382             1374.041444
std             16935.826675              604.972862
min                24.000000                1.000000
25%              6816.000000              910.000000
50%             25560.000000             1713.000000
75%             41640.000000             1786.000000
max             51840.000000             2164.000000

- Days_since_last_order is the number of days since the last order was placed so it should be less than days_since_first_order
- If the unit of column days_since_last_order is in days, then the maximum value is more than 142 years, which is not reasonable
- The value is too big to be in days but too small to be a timestamp, so it is likely that the value is in hours
- We can convert the value to days by dividing it by 24
- We also need to check if these values are actually in hours or not by checking the modulo of 24

In [20]:
raw_df[['days_since_last_order']].mod(24, 1).query("days_since_last_order != 0").count()

days_since_last_order    0
dtype: int64

## Clean Data

In [42]:
result_df = raw_df.drop_duplicates()

result_df.loc[result_df['coupon_discount_applied'].isna(), 'coupon_discount_applied'] = 0.0

result_df.loc[result_df['is_newsletter_subscriber'] == "Y", 'is_newsletter_subscriber'] = True
result_df.loc[result_df['is_newsletter_subscriber'] == "N", 'is_newsletter_subscriber'] = False

result_df['days_since_last_order'] = result_df['days_since_last_order'].apply(lambda x: int(x / 24))

result_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46030 entries, 32235 to 19250
Data columns (total 43 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   sacc_items                46030 non-null  int64
 1   work_orders               46030 non-null  int64
 2   female_items              46030 non-null  int64
 3   is_newsletter_subscriber  46030 non-null  object
 4   male_items                46030 non-null  int64
 5   afterpay_payments         46030 non-null  int64
 6   msite_orders              46030 non-null  int64
 7   wftw_items                46030 non-null  int64
 8   mapp_items                46030 non-null  int64
 9   orders                    46030 non-null  int64
 10  cc_payments               46030 non-null  int64
 11  curvy_items               46030 non-null  int64
 12  paypal_payments           46030 non-null  int64
 13  macc_items                46030 non-null  int64
 14  cancels                   46030 non-null  int64
 15  revenue                   46030 non-null  float64
 16  returns                   46030 non-null  int64
 17  other_collection_orders   46030 non-null  int64
 18  parcelpoint_orders        46030 non-null  int64
 19  customer_id               46030 non-null  object
 20  android_orders            46030 non-null  int64
 21  days_since_last_order     46030 non-null  int64
 22  vouchers                  46030 non-null  int64
 23  average_discount_used     46030 non-null  float64
 24  shipping_addresses        46030 non-null  int64
 25  redpen_discount_used      46030 non-null  float64
 26  mftw_items                46030 non-null  int64
 27  days_since_first_order    46030 non-null  int64
 28  unisex_items              46030 non-null  int64
 29  home_orders               46030 non-null  int64
 30  coupon_discount_applied   46030 non-null  float64
 31  desktop_orders            46030 non-null  int64
 32  ios_orders                46030 non-null  int64
 33  apple_payments            46030 non-null  int64
 34  wspt_items                46030 non-null  int64
 35  wacc_items                46030 non-null  int64
 36  items                     46030 non-null  int64
 37  mspt_items                46030 non-null  int64
 38  devices                   46030 non-null  int64
 39  different_addresses       46030 non-null  int64
 40  wapp_items                46030 non-null  int64
 41  other_device_orders       46030 non-null  int64
 42  average_discount_onoffer  46030 non-null  float64
dtypes: float64(5), int64(36), object(2)
memory usage: 15.5+ MB

/var/folders/50/32l3tbds59z651l_3yc2mbdm0000gn/T/ipykernel_84387/2906342818.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df['days_since_last_order'] = result_df['days_since_last_order'].apply(lambda x: int(x / 24))

## Ingest Data

### Create Schema and Table

In [31]:
conn = pg_conn.engine.connect()

conn.execute(text("CREATE SCHEMA IF NOT EXISTS users;"))

conn.execute(text("""
    CREATE TABLE IF NOT EXISTS users.guests (
        customer_id TEXT NOT NULL,
        sacc_items INTEGER NOT NULL,
        work_orders INTEGER NOT NULL,
        female_items INTEGER NOT NULL,
        is_newsletter_subscriber BOOLEAN NOT NULL,
        male_items INTEGER NOT NULL,
        afterpay_payments INTEGER NOT NULL,
        msite_orders INTEGER NOT NULL,
        wftw_items INTEGER NOT NULL,
        mapp_items INTEGER NOT NULL,
        orders INTEGER NOT NULL,
        cc_payments INTEGER NOT NULL,
        curvy_items INTEGER NOT NULL,
        paypal_payments INTEGER NOT NULL,
        macc_items INTEGER NOT NULL,
        cancels INTEGER NOT NULL,
        revenue DOUBLE PRECISION NOT NULL,
        returns INTEGER NOT NULL,
        other_collection_orders INTEGER NOT NULL,
        parcelpoint_orders INTEGER NOT NULL,
        android_orders INTEGER NOT NULL,
        days_since_last_order INTEGER NOT NULL,
        vouchers INTEGER NOT NULL,
        average_discount_used DOUBLE PRECISION NOT NULL,
        shipping_addresses INTEGER NOT NULL,
        redpen_discount_used DOUBLE PRECISION NOT NULL,
        mftw_items INTEGER NOT NULL,
        days_since_first_order INTEGER NOT NULL,
        unisex_items INTEGER NOT NULL,
        home_orders INTEGER NOT NULL,
        coupon_discount_applied DOUBLE PRECISION,
        desktop_orders INTEGER NOT NULL,
        ios_orders INTEGER NOT NULL,
        apple_payments INTEGER NOT NULL,
        wspt_items INTEGER NOT NULL,
        wacc_items INTEGER NOT NULL,
        items INTEGER NOT NULL,
        mspt_items INTEGER NOT NULL,
        devices INTEGER NOT NULL,
        different_addresses INTEGER NOT NULL,
        wapp_items INTEGER NOT NULL,
        other_device_orders INTEGER NOT NULL,
        average_discount_onoffer DOUBLE PRECISION NOT NULL,
        inserted_at TIMESTAMP NOT NULL DEFAULT NOW(),
        updated_at TIMESTAMP NOT NULL DEFAULT NOW(),
        primary key (customer_id)
    );
"""))

conn.close()

### Insert Data

In [43]:
pg_conn.bulk_upsert_for_dict(
    schema='users',
    table_name='guests',
    primary_keys=['customer_id'],
    items = result_df.to_dict(orient='records')
)

### Check if data is ingested correctly

In [24]:
query = "SELECT count(customer_id) FROM users.guests LIMIT 20;"
count_result = pg_conn.execute_and_return_dict(query, ['count'])
print("Queried row count:", count_result[0]['count'])

Queried row count: 46030

In [25]:
query = "SELECT * FROM users.guests LIMIT 20;"
queried_df = pg_conn.execute_and_return_dataframe(query)
print(queried_df)

                         customer_id  sacc_items  work_orders  female_items  \
0   0000b61ab5cb91d8d792bb1d4569ecfd           0            0             0
1   0002a97f9350aa00f78397beda640564           0            0             3
2   0002b915c933e68cb1005a4812d1bbae           0            0             0
3   0003ede8f1eb158e96535f28ecd3652b           0            0             2
4   0004d294d3fcf3ee544a63c12d68c696           0            0            26
5   00052c6951129c110dad4d2a28faeac2           0            0             3
6   0007fc95644f2e30647720b00ce4a0dd           0            0             0
7   0009d808132e78f2bb2a55dd307871a6           0            0             0
8   000b353c3655d63821a56630cb2119e9           0            0             9
9   000b52cfccbf24123d854ed5d99f59f6           0            0             4
10  000e19dff73b182165ea00e0c08d1198           0            0             1
11  000f50555a2f5d7cb2493c3d3a673794           0            0            16
12  0010fbac8a31a4392e144877426929dd           0            0             5
13  0014afc685445e1f9e7121b98c5f20b0           0            0             0
14  001538238cbbfc4344087db4aa96c690           0            0             8
15  0016f70b23b74e2efa3ae7805723623a           0            0             0
16  0017654dcf125813f9c85a0f3fd4cd12           1            0             0
17  0017a63fd1288eae8cdeb69ae1778b3b           0            0             1
18  0018927b059f8928c1b9ab0b977b2ec6           0            0             2
19  00190f4e7b4a6fe277a97b633c12ab1b           0            0             1

    is_newsletter_subscriber  male_items  afterpay_payments  msite_orders  \
0                       True           1                  0             0
1                      False           0                  0             0
2                       True          16                  0             0
3                      False           0                  0             0
4                      False           4                  0             3
5                      False           0                  0             1
6                      False           1                  0             1
7                      False           1                  0             0
8                      False           0                  0             0
9                      False           0                  0             0
10                      True           2                  0             2
11                      True           0                  0             0
12                      True           0                  0             0
13                      True           6                  0             0
14                     False           1                  0             2
15                      True           0                  0             0
16                     False           1                  0             0
17                      True           0                  0             1
18                     False           0                  0             0
19                     False           0                  0             0

    wftw_items  mapp_items  ...  wacc_items  items  mspt_items  devices  \
0            0           1  ...           0      1           0        1
1            2           0  ...           1      3           0        1
2            0          11  ...           0     16           0        1
3            0           0  ...           0      2           0        1
4            2           4  ...           0     30           0        3
5            3           0  ...           0      3           0        1
6            0           1  ...           0      1           0        1
7            0           0  ...           0      1           0        1
8            0           0  ...           0      9           0        1
9            0           0  ...           0      4           0        1
10           1           0  ...           0      5           0        1
11           4           0  ...           1     16           0        1
12           0           0  ...           0      5           0        1
13           0           3  ...           0      6           0        1
14           1           1  ...           0      9           0        2
15           0           0  ...           0      1           0        1
16           0           0  ...           0      2           1        1
17           0           0  ...           0      1           0        1
18           0           0  ...           0      2           0        1
19           1           0  ...           0      1           0        1

    different_addresses  wapp_items  other_device_orders  \
0                     0           0                    0
1                     0           0                    0
2                     0           0                    0
3                     0           2                    0
4                     0          24                    0
5                     1           0                    0
6                     0           0                    0
7                     0           0                    0
8                     0           9                    0
9                     1           4                    0
10                    0           0                    0
11                    0          11                    0
12                    1           5                    0
13                    0           0                    0
14                    0           7                    0
15                    0           0                    0
16                    0           0                    0
17                    0           1                    0
18                    0           2                    0
19                    0           0                    0

    average_discount_onoffer                inserted_at  \
0                     0.0000 2025-06-18 06:58:56.253733
1                     0.0000 2025-06-18 06:58:56.253733
2                     0.3346 2025-06-18 06:58:56.253733
3                     0.4640 2025-06-18 06:58:56.253733
4                     0.6863 2025-06-18 06:58:56.253733
5                     0.6333 2025-06-18 06:58:56.253733
6                     0.0000 2025-06-18 06:58:56.253733
7                     0.3999 2025-06-18 06:58:56.253733
8                     0.2951 2025-06-18 06:58:56.253733
9                     0.0000 2025-06-18 06:58:56.253733
10                    0.0000 2025-06-18 06:58:56.253733
11                    0.2684 2025-06-18 06:58:56.253733
12                    0.5705 2025-06-18 06:58:56.253733
13                    0.0500 2025-06-18 06:58:56.253733
14                    0.3325 2025-06-18 06:58:56.253733
15                    0.0000 2025-06-18 06:58:56.253733
16                    0.2000 2025-06-18 06:58:56.253733
17                    0.0000 2025-06-18 06:58:56.253733
18                    0.0000 2025-06-18 06:58:56.253733
19                    0.4999 2025-06-18 06:58:56.253733

                   updated_at
0  2025-06-18 06:58:56.253733
1  2025-06-18 06:58:56.253733
2  2025-06-18 06:58:56.253733
3  2025-06-18 06:58:56.253733
4  2025-06-18 06:58:56.253733
5  2025-06-18 06:58:56.253733
6  2025-06-18 06:58:56.253733
7  2025-06-18 06:58:56.253733
8  2025-06-18 06:58:56.253733
9  2025-06-18 06:58:56.253733
10 2025-06-18 06:58:56.253733
11 2025-06-18 06:58:56.253733
12 2025-06-18 06:58:56.253733
13 2025-06-18 06:58:56.253733
14 2025-06-18 06:58:56.253733
15 2025-06-18 06:58:56.253733
16 2025-06-18 06:58:56.253733
17 2025-06-18 06:58:56.253733
18 2025-06-18 06:58:56.253733
19 2025-06-18 06:58:56.253733

[20 rows x 45 columns]

## Analyze Data

1. What was the total revenue to the nearest dollar for customers who have paid by credit card?

In [5]:
pg_conn.execute_and_return_dataframe("""
    SELECT ROUND(SUM(revenue)) AS total_revenue
    FROM users.guests
    WHERE cc_payments > 0;
""")

   total_revenue
0     50189329.0

2. What percentage of customers who have purchased female items have paid by credit card?

In [2]:
pg_conn.execute_and_return_dataframe("""
    SELECT
        ROUND(COUNT(DISTINCT CASE WHEN cc_payments > 0 THEN customer_id END) * 100.0 / COUNT(*), 2) AS percentage_female_buyers_with_cc_payment
    FROM (
        SELECT customer_id, cc_payments
        FROM users.guests
        WHERE female_items > 0
    );
""")

  percentage_female_buyers_with_cc_payment
0                                    65.48

3. What was the average revenue for customers who used either iOS, Android or Desktop?

In [49]:
pg_conn.execute_and_return_dataframe("""
    SELECT round(avg(revenue)) FROM users.guests g WHERE desktop_orders > 0 OR android_orders > 0 OR ios_orders > 0
""")

    round
0  1487.0

4. We want to run an email campaign promoting a new mens luxury brand. Can you provide a list of customers we should send to?
- In this case, we want to send the email to customers who have purchased more than 1 mens item and have subscribed to the newsletter.
- The new mens luxury brand is likely to be more expensive, so we also want to target customers who have a higher average revenue per mens item.

In [6]:
pg_conn.execute_and_return_dataframe("""
    WITH subscribed_male_customer_revenue_per_item AS (
        SELECT customer_id,
               revenue / items AS revenue_per_item
        FROM users.guests
        WHERE is_newsletter_subscriber = TRUE AND male_items > 0 AND mapp_items > 0
          AND macc_items > 0 AND mftw_items > 0 AND mspt_items > 0
    )

    SELECT customer_id
    FROM subscribed_male_customer_revenue_per_item
    WHERE revenue_per_item > (
        SELECT avg(revenue_per_item)
        FROM subscribed_male_customer_revenue_per_item
    )
""")

                         customer_id
0   04f2113b0d7d4a475fe2268aeff646d4
1   050e5b20ca6163d1e9531cccd4e705ae
2   065a721568b8cfe6d04d26e0e21ed7bf
3   071d30778fa24bfa953db9f8e49495a4
4   0b99ad3ba1e2884f83e485d5a1cb1a16
5   170d72192790ac0cdb46b7fb1c447910
6   22f98fa48403095c07556a4e0959ad2c
7   2661d8be6d52743488aad3ca00f2545b
8   268c90740d324ad20a405ba7791c2c35
9   276a7a7eac0a3a3ca1c477ab7e09d784
10  2818a8c03947d4f890a115f1a94870f3
11  2998efaa2dad517e5b617da67eca60fb
12  2b643fd75673a008798be635991c5319
13  2d84b3c83b6873f94c301aaaa857994f
14  2dd3ded386b04ae3dc95ad4625c519f1
15  393299409c07117b728d06616cb6442d
16  3b3336e9f08176bd2b5385881deb8b8f
17  3bff0c40e43263dde3db43d0304434f0
18  3c37cc946cd8995c144dd45aa21187b0
19  3ce0edb56b24d942a7a2fd17c464c2c6
20  3eec8f399242d2f2a41b6276087623e7
21  42fadec1a17cc4e674464eb2f064d66b
22  4544b3115197f6863eae09eaad0b74a0
23  4684f6ee6b561659fbb2a24e230916fd
24  4a4add7ecda00213e10d22c845ab4141
25  52b3129a447948c667e065fa1dd9d8fc
26  5d7888a27cde9fb0bdcbb2baba673291
27  5e4e5fa625b0748f7dc90e842b42f423
28  6761fcbd6d767ee3f69b34fc8a2be963
29  68c5380a27c3c374a72fd9c0902f0696
30  6cbc3eeee96a112004b686b3bdc1eb09
31  71436a46c49a576cb9045484edb911a1
32  74d8e47bbffd89f47acbb3c5e0b1b5b0
33  7d1b5bfa34913135ee6c90436e663a4f
34  8875b32d6b02072787f6d32e196b4f5a
35  8880f35764198438cbd1d0f7d0aedaf6
36  88ab5baa0c19e62af9919a5039889807
37  8e4b9e4a8b09b7b104b32ed5cd6716a5
38  8e6be636c9fcd412fafd22e4788565e9
39  93a4122d47b21372447d72f90c25dc78
40  948d31b7878bcae37bc7d2ad9de04bce
41  9d906d47ba66011a43c0b45ecbea3ad5
42  9dab199186a69e15e84c11b4018ed783
43  9e658ab273053cf891aeff570e257e86
44  a0de0bbd8e6600d3e7dfcd89815e3a10
45  a6912604f5c74ebd31589372ad2fd91b
46  a6c062764fede947b70f7dd70a4ade7b
47  ad8c4c96066209e61ff348e15e038470
48  af4b340e0428381c074e0e877dd63c73
49  b4407330922e589148e66a359d86f5ff
50  b72634aa4bafcd596f439c585fc04fdf
51  b9d1ff5d75914e80a8274e58c1d9818c
52  bc2ad8b508a7e67e67f020f0329018e6
53  bffff76a7472c013866dbb843d37bd98
54  c5698030d4021fbd416f56c97032f581
55  c9a14f19a36b56a6baca5daf7f1331c5
56  c9cd265cbf0d15850e2c0d1d74ce929f
57  cc94c89f814fb13a8d36b5262ff66f45
58  d10bdcc1db098403deaa163d0408670d
59  d11aba261d4bbcb65e3fb2eedce7489f
60  da04f85aa5f1ef54661f67b29db836f2
61  dfbb5a124a667fb5189d41c19631e744
62  e277f5b5aca2ad9f51bf8b700a73e44c
63  e4106b7f2ce74235b3fa66e66bbbeb02
64  e41aee664e3e9aa3731b9c687b914a48
65  e5aa5290515277083d2bd546b1a8c5da
66  e6506b9d511bcf0cc1bd73498d502a77
67  e6aa85e28897512e4eb8892213ca7c36
68  f3c8cd09edb446c0db573cbbc5306daa
69  f65923074a3fdfa7869c60c67afb8b5f
70  f7057c8c33f18276b5b4ba57fa512775
71  fa647c2857307e95de63301927d949c9
72  fe6a9753ab8192e2d5ba5727723c98c1
73  fed473b3d29a121e992f4319a26aa13b